@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700&display=swap");
      * {
        margin: 0;
        padding: 0;
        outline: 0;
      }

      /* Logo */
      #navFirst img {
        margin: 2% 5%;
        height: 41px;
        cursor: pointer;
      }

      /* nav-lists */
      #navMid div {
        display: inline-block;
        margin-right: 70px;
        font-family: "Montserrat";
        font-weight: 100;
        position: relative;
        top: -65px;
        left: 27%;
        cursor: pointer;
        font-size: 15px;
      }
      #navMid div:first-child {
        border-bottom: 2px solid #000;
        padding-bottom: 4px;
      }
      #navMid div:hover{
        border-bottom: 2px solid #000;
        padding-bottom: 4px;
        transition: 300ms ease-in-out;
      }

      /* nav-Icons */
      #navEnd div {
        display: inline-block;
        margin-right: 35px;
        position: relative;
        left: 84%;
        top: -92px;
        cursor: pointer;
      }

      /* Main h1 */
      #monstera{
        font-family: "Montserrat";
        font-size: 100px;
        margin-top: 50px;
        margin-bottom: -20px;
      }
      /* text below main h1 */
      #midWholePart11 div ul li {
        margin: 0 5%;
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 500;
      }
      .custom-1 li::marker{
        font-size: 25px;
        list-style-position: fixed;
      }
      .bullet{
        font-size: 1px;
        border: 2px solid #000;
        border-radius: 100%;
        text-align: center;
        padding-right: 10px;
        padding-top: 10px;
        position: relative;
        left: -24px;
        margin-right: -15px;
        top: -2px;
      }
      .custom-1 li {
        max-width: 600px;
      }
      /* --Discover Button-- */
      #midWholePart121 h1 {
        font-family: "Montserrat";
        font-weight: 400;
        color: #fff;
        background-color: #466d50;
        position: absolute;
        border-radius: 35px;
        padding: 15px 35px;
        margin-left: 65px;
        margin-top: 50px;
        cursor: pointer;
      }
      .fa-angle-right {
        margin-left: 10px;
        font-size: 25px;
      }
      #midWholePart121 h1:hover{
        background-color: #365a3f;
        transition: 300ms ease-in-out;
      }

      /* Bottom Footer Icons */
      #midWholePart13 .midWholePart13Parts {
        display: inline-block;
        margin-top: 215px;
        margin-left: 60px;
        font-family: "Montserrat";
      }
      .text{
        max-width: 200px;
        font-size: 10px;
      }
      #feeding{
        height: 65px;
      }
      #light{
        height: 45px;
        bottom: 20px;
        left: -90px;
        position: relative;
      }
      #care{
        height: 45px;
        bottom: 20px;
        left: -210px;
        position: relative;
      }
      .content{
        margin-left: 70px;
        margin-top: -60px;
      }
      .content-1{
        position: relative;
        left: 10px;
        bottom: 8px;
      }
      .content-2{
        position: relative;
        left: -120px;
        bottom: 8px;
      }
      .content-3{
        position: relative;
        left: -227px;
        bottom: 8px;
      }
      #imgMain {
        height: 650px;
        float: right;
        margin-top: -600px;
      }
    